<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${menus} and ${menus.size()}"><br/>no menus :(</p>


<ul th:unless="!${menus} or !${menus.size()}" >
    <li th:each="menu : ${menus}">
        <a th:text="${menu.name}" th:href="'menu/view/'+${menu.id}"></a>
    </li>
</ul>

<nav>
    <a href="/menu/add">Add</a>
    <!--
    <span th:unless="!${cheeses} or !${cheeses.size()}">
        |
        <a  href="/cheese/remove">Remove</a>
    </span>
    -->
</nav>


</body>
</html>